/*
    COLOR PALETTE:
    white: #f9f9f9
    green: #85c59d
    blue: #B3E5FC
    black: #2F2B28
    red/white gradient: to top right, #f9f9f9, #E57373
    yellow/white gradient: to top right, #ffffec, #f9f9f9
    blue/white gradient: to top right, #f9f9f9, #B3E5FC
    green/white gradient: to top right, #f9f9f9, #85c59d
*/
/* @import './spinkit.css'; */

.main {
    background-color: #f9f9f9 !important;
}

.app-bar {
    background-image: linear-gradient(to top right, #f9f9f9, #B3E5FC);
}

.card {
    background-image: linear-gradient(to top right, #f9f9f9, #B3E5FC) !important;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flat-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px !important;
    color: #2F2B28 !important;
}

.good-btn {
    background-image: linear-gradient(to top right, #f9f9f9, #85c59d);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px !important;
    color: #2F2B28 !important;
}

.bad-btn {
    background-image: linear-gradient(to top right, #f9f9f9, #E57373);
}

.basic-header {
    color: #2F2B28;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notice {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border: solid grey 1.2px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(to top right, #f9f9f9, #85c59d);
}

.modal, .modal-overlay {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #222222da;
}

.modal {
    text-align: center;
    background-color: white;
    height: 475px;
    width: 500px;
    margin-top: 6%;
    padding: 0px 0;
    border-radius: 20px;
}

.modal-list {
    height: 325px;
    position: relative;
    overflow: auto;
}

.modal-list-item {
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.modal-bottom-content {
    position: relative;
    top: 30px;
}

.modal-bottom-content-2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-bottom-content-3 {
    padding-top: 15px;
}

.modal-bottom-sm {
    width: 48%;
}

table {
    font-family: Georgia;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}