/*
    COLOR PALETTE:
    white: #F4F4F4
    green: #85c59d
    blue: #B3E5FC
    black: #2F2B28
    yellow/white gradient: to top right, #ffffec, #F4F4F4
    blue/white gradient: to top right, #f4f4f4, #B3E5FC
    green/white gradient: to top right, #f4f4f4, #85c59d
*/

.main {
    background-color: #f4f4f4;
}

.card {
    background-image: linear-gradient(to top right, #f4f4f4, #B3E5FC) !important;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.good-btn {
    background-image: linear-gradient(to top right, #f4f4f4, #85c59d);
}

.basic-header {
    color: #2F2B28;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit-btn {
    background-color: #85c59d !important;
}

.notice{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border: solid grey 1.2px;
    border-radius: 8px;
    padding: 10px;
    background-image: linear-gradient(to top right, #f4f4f4, #85c59d);
}

.modal, .modal-overlay {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #222222da;
}

.modal {
    text-align: center;
    background-color: white;
    height: 475px;
    width: 500px;
    margin-top: 6%;
    padding: 0px 0;
    border-radius: 20px;
}

.modal-list {
    height: 325px;
    position: relative;
    overflow: auto;
}

.modal-list-item {
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.modal-bottom-content {
    position: relative;
    top: 30px;
}

.modal-bottom-content-2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-bottom-content-3 {
    padding-top: 15px;
}

.modal-bottom-sm {
    width: 48%;
}

table {
    font-family: Georgia;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}